body{
    background-color:goldenrod;
    font-family:fantasy;
}

.header_div{
    background-color: steelblue;
    color:gold;
}

.header_div p{
    font-family: cursive;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
}

.main_div button{
    font-family: monospace;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    background-color:springgreen;
    color: black;
}

.copy_right_footer{
    position:fixed;
    color:darkgoldenrod;
    background-color: red;
    bottom:0;
    width:100%;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    text-shadow: 5px 5px 5px gray;
    font-weight: bolder;
}